<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= item.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= item.image_link %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= item.website %>
  </p>

  <p>
    <strong>Company url:</strong>
    <%= item.company_url %>
  </p>

  <p>
    <strong>Founding year:</strong>
    <%= item.founding_year %>
  </p>

</div>
